---
import Layout from "../../layouts/Layout.astro";
// export function getStaticPaths(){
//     return [        
//     {params:{id:'123'}},
//     {params:{id:'1234'}},
//     {params:{id:'1235'}}
//     ]
// }
const {id} = Astro.params;

---

<Layout title="Blog">
    <h2>El id del registro es: {id}</h2>

</Layout>