<h1 class="white"> Menu</h1>
		<a href="/">Home</a>
		<a href="/about">About</a>
		<a href="/terminos">Terminos</a>
        <a href="/markdown">Markdown</a>
        <a href="/blog/123">Blog</a>
        <a href="/autor/varela/Que paso">Libro</a>